*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(231, 231, 231);
}
.card{
    margin: 2rem;
    background-color: rgb(0, 157, 255);
    font-size: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: .1rem .1rem .4rem rgb(214, 214, 214);
    text-transform:uppercase ;
    text-align:center;
    color:white
}